<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weibo</title>
    <style>
        .comment {
            border: 1px red solid;
        }
        .comment-list {
            background: yellow;
        }
    </style>
</head>
<body>
    <div>
        <input id="id-input-weibo">
        <button id="id-button-add-weibo">发表微博</button>
    </div>
    <div class="weibo-list"
         data-method="get"
         data-path="/api/weibo/all"
         data-template="xxtemplate"
    >

    </div>
    <script src='/static?file=utils.js'></script>
    <script src='/static?file=weibo.js'></script>


</body>
</html>